# Ignore node_modules folder
node_modules/
.vscode/

# Ignore compiled files
*.class
*.o
*.exe

# Ignore environment files
.env
config/*.env

# Ignore log files
*.log
logs/

# Ignore system files
.DS_Store
Thumbs.db
custom.css 
package-lock.json
package.json
